
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

@*@{
    int idVal = ViewBag.count;
}*@

@for (int i = 1; i <= ViewBag.count; i++)
{
    <tr>
        <td><label>This is lable @i:</label></td>
        <td><input type="text" required /></td>
    </tr>
    <br />
}
<input type="submit" value="Submit" />