
@{
    ViewBag.Title = "Error";
}
<link href="~/CSS/Style.css" rel="stylesheet" />

<div class="container">
    <div style="height:400px;width:60%;margin-left:0;">
        <div style="padding-top:5%;">
            <div style="color:sienna;font-family:'Times New Roman', Times, serif;font-size:xx-large;">404</div>
        </div>
        <bold style="font-weight:bold;">Sorry the page that you are looking does not exist.</bold>
    </div>
</div>

@Html.ActionLink("Go back to home page", "GetEmployeeDetails", "Employee")