
@{
    ViewBag.Title = "_404";
}
<link href="~/CSS/Style.css" rel="stylesheet" />

<div class="container">
    <div style="height:400px;width:60%;margin-left:0;">
        <div style="padding-top:5%;">
            <div style="color:sienna;font-family:'Times New Roman', Times, serif;font-size:xx-large;">404</div>
        </div>
        <bold>Sorry the page that you are looking is not exist.</bold>
    </div>
</div>

@Html.ActionLink("Go Back To Home Page", "GetEmployeeDetails", "Employee")